/* Styles for header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
/* Set background color for body */
body {
  background-color: #f8f8f8; /* Replace with your desired color */
}

/* Set color for main container */
.container {
  background-color: #fff; /* Replace with your desired color */
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}
.branding {
  font-size: 24px;
  margin: 0;
}

.subheading {
  font-size: 16px;
  margin: 0;
}

/* Styles for navigation */
nav {
  background-color: #444;
  padding: 10px;
}

.profile_photo {
  width: 100px; /* adjust the width as needed */
  height: 100px; /* adjust the height as needed */
  border-radius: 50%; /* to create a circular profile photo */
  object-fit: cover; /* to maintain aspect ratio and crop if needed */
  margin-right: 10px; /* optional: add margin to the right of the profile photo */
}

.nav_links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_links li {
  display: inline;
  margin-right: 10px;
}

.nav_links li a {
  color: #fff;
  text-decoration: none;
}

/* Styles for main content */
.main_content {
  padding: 20px;
}

.section_title {
  font-size: 24px;
  margin-bottom: 10px;
}

.experience_list {
  list-style: none;
  padding: 0;
}

.experience_list li {
  margin-bottom: 20px;
}

.company {
  font-weight: bold;
}

.date {
  color: #777;
  margin-bottom: 5px;
}

.description {
  margin: 0;
}

.education_list {
  list-style: none;
  padding: 0;
}

.education_list li {
  margin-bottom: 20px;
}

.school {
  font-weight: bold;
}

.skills_list {
  list-style: none;
  padding: 0;
}

.skills_list li {
  margin-bottom: 10px;
}
